<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Martin Gingras</string>
	<key>Builder Version</key>
	<string>12602.1.50.0.2</string>
	<key>CFBundleDisplayName</key>
	<string>Full Width Github CR</string>
	<key>CFBundleIdentifier</key>
	<string>com.mgingras.fullwidthgithubcr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>extension.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://github.com/HiveHQ/tickets/pull/999/files</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Full Width Unified View for CR on GitHub</string>
	<key>DeveloperIdentifier</key>
	<string>5XSDTEK8RC</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
